img{
  width:100%;
}
.imagen{
  margin: 20px auto;
  width: 15%;
}

.imagenOtra{
  margin: 20px auto;
  width: 35%;
}
.palabra{
  display: flex;
}
.encabezado{
  margin: 20px auto;
  text-align: center;
  color: green;
}
.encabezadoFin{
  margin: 20px auto;
  text-align: center;
  color: red;
}
.palo{
  margin: 5px;
  border-bottom: 3px solid black;
  width: 32px;
  height: 45px;
  text-align: center;
  font-size: 2.5em;
}

.botones button{
  margin: 5px;
  padding: 5px 0;
  font-size:1.3em;
  background-color: white;
  border: 1px dashed black;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  text-align: center;
}

.boton{
  margin: auto 45%;
  text-align: center;
  color: white;
  background-color: rgb(86, 187, 221);
  align-self: center;
  width: 150px;
  height: 50px;
}

.instruccion{
  margin: 20px auto;
  text-align: center;
  color: black;
  padding: 0 200px;
}